body {
    font-family: Arial, Helvetica, sans-serif;
}

.profile-user-img {
	max-height: 100px;
	object-fit: cover;
}

.user-panel>.image>img {
	max-height: 45px;
}

.body-block {
	position: relative;
}

.avatar {
	position: absolute;
    top: 0;
    left: 27%;
    width: 100px;
    height: 100px;
    opacity: 0;
    cursor: pointer;
}